html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-bottom: 30px;
}

.bigword {
  word-break: break-all;
  white-space: pre-line;
  padding: 10px;
}

.field-validation-error {
  color: #f00;
}

.input-validation-error {
  border: 1px solid #f00;
  background-color: #fee;
}

.message {
  padding: 10px;
}

.rate-form {
  display: inline-block;
}

.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

